extends layout

block content
  body(ng-controller='MainCtrl')
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      div.navbar-header
        a.navbar-brand(href='#/polls')= title
    div.container
      div(ng-view)
        br
        br
        iframe(src="http://localhost:3000/" id="iframe" style='width:300px;height:300px')
        br 
        br
        br 
        button(ng-click='doClick()' style='width:300px;height:30px' class="btn btn-primary") CLICK TO ADD TO CHILD
