doctype html
html(ng-app="producer")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-resource.min.js")
    script(src="javascripts/app.js")
    script(src="http://localhost:3000/javascripts/api.js")
  body
    block content
