extends layout

block content
  body(ng-controller='MainCtrl' ng-init='init()')
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      div.navbar-header
        a.navbar-brand(href='#/polls')= title
    div.container
      div(ng-view)
        br
        button(ng-click='doClick()' style='width:100px;height:30px') click me 
        div(ng-repeat="item in items")
          {{item}}


